/* the fonts */

@font-face {
    font-family: simply-rounded;
    src: url("/fonts/Simply Rounded.ttf");
}
@font-face {
    font-family: simply-rounded;
    src: url("/fonts/Simply Rounded Bold.ttf");
    font-weight: bold;
}


html, body {
    background-color: aliceblue;
    margin: 0;
    background-image: url("/img/frontpage_header.jpg");

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/*
    for Adobe Color:
    harmony: analogic
    middle color in hex: #C7F3E7
*/
    
/* the front page header */

.papanaotsikko {
    text-align: center;
    font-family: simply-rounded;
    font-weight: normal;
    font-size: 20vh;

    -webkit-font-smoothing: antialiased;
    background-image: linear-gradient(to right, rgb(114, 179, 146), rgb(163, 255, 209));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px black;

    margin: 0px;
    padding-bottom: 70px;
    padding-top: 70px;
}

.papanakuvaus {
    font-size: 25px;
    margin: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    background-color: rgba(192, 233, 249, 0.7);
    padding: 20px;
    border-radius: 40px;
}

/* the front page map */
.karttaupotus {
    margin: 20px;
    padding: 10px;
    background-color: rgba(169, 219, 219, 0.7);
    border-radius: 25px;
    margin-bottom: 20px;
}

.kartta-alaotsikko {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 0px;
    padding: 5px;

}

/* layout changes for mobile devices */

@media only screen and (max-width: 900px) {
    .papanaotsikko {
        font-size: 12vh;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .papanakuvaus {
        text-align: center;
    }
}